################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Matrix Transformation/bin
/Matrix Transformation/obj
